@font-face {
    font-family: AmongUs;
    src: url("../fonts/AmongUs-Regular.ttf") format("woff2");
}

body {
    background: url(../images/index-background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: AmongUs;
    font-size: 100px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    h1 {
        color: rgb(255, 255, 255);
        font-family: AmongUs;
        font-size: 65px;
        text-align: center;
    }
}

p {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

#discord-btn {
    margin-top: 100px;
}

#among-us-btn {
    margin-top: 200px;
}